.inputBook {
  padding: 3% 0;
  width: 80vw;

  hr {
    margin-bottom: 3%;
    width: inherit;
  }

  h4 {
    opacity: 0.5;
    font-weight: 800;
    font-size: 1.6rem;
  }

  form {
    align-items: center;
    margin-top: 20px;
    display: flex;
    gap: 7%;
    width: inherit;

    input {
      border-radius: 4px;
      padding: 12px;
      border: 1px solid #e8e8e8;
      background-color: #fff;
      letter-spacing: -0.15px;
      width: 20%;
      font-size: 1.2rem;

      &::placeholder {
        opacity: 0.5;
        font-size: 1.2rem;
      }
    }

    select {
      opacity: 0.8;
      width: 20%;
      padding: 12px;

      option {
        opacity: 0.9;
        padding: 12px;
      }
    }
  }
}
